/vendor/
###> symfony/framework-bundle ###
/.env
/var/
###< symfony/framework-bundle ###

/composer.phar
composer.lock
.idea/
/node_modules/*
yarn-error.log
npm-debug.log

###> squizlabs/php_codesniffer ###
/.phpcs-cache
###< squizlabs/php_codesniffer ###
