
###> symfony/framework-bundle ###
/.env
/var/
/vendor/
###< symfony/framework-bundle ###

/composer.phar
.idea/
/node_modules/*
yarn-error.log
npm-debug.log
###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> squizlabs/php_codesniffer ###
/.phpcs-cache
###< squizlabs/php_codesniffer ###
